<div class="window">
    <h1>Login</h1>
    <form>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" [(ngModel)]="username" class="input" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" [(ngModel)]="password" class="input" required>

        <div class="buttonContainer">

            <button class="button" type="button" (click)="login()">Sign In</button>
            <button class="button" type="button" onClick="registerRedir()">Sign Up</button>

        </div>
    </form>
</div>
<p elementId="test">{{result}}</p>